<div class="footer">
    <div class="footer-logo">
        <div class="footer-img">
            <img src="/src/img/Mineart.s Logo.svg" alt="Logo mineart.s">
        </div>
        <p>Feito com amor, paciência e a energia do mar.</p>
    </div>

    <div class="footer-mapa">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d126873.74970277905!2d-35.13255186533943!3d-6.419137721192459!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7b29d0d1c8e5745%3A0xe2ee0036f8490433!2sBa%C3%ADa%20Formosa%20-%20RN!5e0!3m2!1spt-BR!2sbr!4v1779493861867!5m2!1spt-BR!2sbr"></iframe>
    </div>

    <nav>
        <ul class="footer-navbar">
            <li><a href="/inicio.html">Início</a></li>
            <li><a href="/src/pages/produtos.html">Produtos</a></li>
            <li><a href="/src/pages/sobre.htm">Sobre</a></li>
        </ul>
    </nav>

    <div class="footer-redes-sociais">
        <h3>Redes Sociais</h3>
        <a href="">
            <img src="/src/img/icon/Icone-whats.svg" alt="Icone Whatsapp">
        </a>
        <a href="">
            <img src="/src/img/icon/Icone-insta.svg"  alt="Icone instagram">
        </a>
        <a href="">
            <img src="/src/img/icon/Icone-facebook.svg"  alt="Icone Facebook">
        </a>
    </div>

    <div class="footer-direitos">
        © 2026 Mineart.s - Todos os direitos reservados
    </div>

</div>