<header class="header">
    <div class="header-logo">
        <img src="/src/img/Mineart.s Logo.svg" alt="Logo do Mineart.s">
    </div>

    <nav class="navbar">
        <ul>
            <li><a href="/inicio.html">Início</a></li>
            <li><a href="/src/pages/produtos.html">Produtos</a></li>
            <li><a href="/src/pages/sobre.htm">Sobre</a></li>
        </ul>
    </nav>

    <div>
        <input type="search" placeholder="">
        <img src="/src/img/icon/Icone - lupa.svg" alt="Icone de Lupa">
    </div>

    <div>
        <img src="/src/img/icon/Icone - carrinho.svg" alt="Icone carrinho">
    </div>

    <button>Entrar</button>

    <button>Cadastro</button>
</header>