<div class="header">
    <div class="logo-navbar">
        <div class="header-logo">
            <img src="/src/img/Mineart.s Logo.svg" alt="Logo do Mineart.s">
        </div>

        <nav>
            <ul class="navbar">
                <li class="link"><a href="/index.html">Início</a></li>
                <li class="link"><a href="/src/pages/produtos.html">Produtos</a></li>
                <li class="link"><a href="/src/pages/sobre.html">Sobre</a></li>
            </ul>
        </nav>
    </div>

    <div class="header-btn">
        <div class="header-busca">
            <input type="search" placeholder="Digite aqui...">
            <img class="icone-lupa" src="/src/img/icon/Icone - lupa.svg" alt="Icone de Lupa">
        </div>

        <div class="header-carrinho">
            <a href="/src/pages/carrinho.html">
                <img src="/src/img/icon/Icone - carrinho.svg" class="icone-carrinho" alt="Icone carrinho">
            </a>
        </div>

        <div class="buttons">
            <button class="btn-entrar"><a href="/src/pages/login.html">Entrar</a></button>
            <button class="btn-cadastro"><a href="/src/pages/cadastro.html">Cadastro</a></button>
        </div>
    </div>
    
</div>